@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(22deg, rgba(242,232,244,0.8519782913165266) 5%,
     rgba(246,244,244,1) 46%, rgba(198,200,203,1) 92%);
     height: auto;
     font-family: plus Jakarta Sans;
}
nav{
    background: rgb(46, 3, 46);
    width: 100%;
    z-index: 1;
}

nav a{
    color: white;
    text-decoration: 0;
    text-align: center;
    padding: 0.1rem;
    font-size: 1rem;
    display: block;
}
nav a:hover{
    background-color: whitesmoke;
    color: rgb(46, 3, 46);
    transition: 1s;
}
